@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono|Audiowide');

* {
    box-sizing: border-box;
    transition: all ease-in-out 250ms;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
    background: #41295a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 95%;
    max-width: 70em;
    margin: 0 auto;
}

.clearfix::after,
section::after,
footer::after {
    content: '';
    display: block;
    clear: both;
}

/* Column system */
[class^=col-] {
    width: 100%;
    margin-top: 1em;
}

[class^=col-]:first-child {
    margin-top: 0;
}

.col-1 {
    width: 33.333334%;
    float: left;
}

@media (min-width: 40rem) {
    [class^=col-] {
        float: left;
        padding: 0 .5em;
        margin-top: 0;
    }

    [class^=col-]:first-child {
        padding-left: 0;
    }

    [class^=col-]:last-child {
        padding-right: 0;
    }

    .col-3 {
        width: 50%;
    }

    .col-1 {
        width: 16.6666%;
    }
}

/* typography */
h1 {
    font-weight: 300;
    font-size: 1.7rem;
    letter-spacing: .3rem;
    margin-top: 0;
    color: #ffae00;
    text-shadow: 3px 1px 3px rgba(0, 0, 0, 1);
}

p {
    margin-top: 0;
    line-height: 1.5;
}

p:last-of-type {
    margin-bottom: 0;
}

.title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    font-weight: 900;
    margin-top: 1em;
}

.title span {
    font-weight: 300;
    display: block;
    font-size: .9em;
    color: #FFF;
}

.title-cta {
    margin: 0 0 .5em;
    color: #FFF;
}

.unstyled-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (min-width:60rem) {
    p {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .title {
        font-size: 3.7rem;
    }
}

/* buttons */
.button {
    display: inline-block;
    font-size: 1.15rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .5em 1.75em;
    border-radius: 4em;
}

@media (min-width: 60rem) {
    .button {
        font-size: 1.5rem;
    }
}

.button-small {
    font-size: .7rem;
    font-weight: 700;
}

.button-accent {
    color: #FFF;
    border-color: #FFF;
}

.button-accent:hover,
.button-accent:focus {
    background: #ffae00;
    border-color: #ffae00;
    color: #FFF;
    transform: scale(1.1);
}

.button-dark {
    color: #1d1e2b;
    border-color: #1d1e2b;
}

.button-dark:hover,
.button-dark:focus {
    background: #1d1e2b;
    color: #FFF;
    border-color: #1d1e2b;
    transform: scale(1.1);
}

/* Parallax*/
.parallax--bg,
.parallax--box {
    transition: initial;
}

/* header*/
header {
    position: absolute;
    left: 0;
    right: 0;
    margin: 1em;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    padding: .5em;
    text-transform: uppercase;
    color: white;
    font-size: .8rem;
    text-shadow: 3px 1px 3px rgba(0, 0, 0, 1);
}

nav a:hover,
nav a:focus {
    color: #ffae00;
    font-size: 1em;
}

.logo {
    font-family: 'Audiowide', monospace;
    font-size: 2em;
}

.logo:hover {
    transform: scale(1.1);
}

@media (min-width:60rem) {
    .logo {
        float: left;
    }

    nav {
        float: right;
    }
}

/* hero-home*/
.home-hero {
    background-image: url(img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 10em 0;
    color: #FFF;
}

@media (min-width: 60rem) {
    .home-hero {
        height: 100vh;
        padding-top: 35vh;
    }
}

/* hero-home*/
.home-about-textbox {
    background-color: #1d1e2b;
    padding: 4em;
    width: 100vw;
    margin-left: -2.5%;
    outline: 2px solid #ffae00;
    outline-offset: -2.5em;
    color: #FFF;
    position: relative;
}

.home-about-textbox:hover {
    transform: scale(1.1);
}

.home-about-textbox h1 {
    color: #ffae00;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: .75em;
    background: #1d1e2b;
    padding: 0 .145em;
}

@media (min-width: 25rem) {
    h1 {
        font-size: 2rem;
    }

    .home-about-textbox {
        padding: 5.5em;
    }

    .home-about-textbox h1 {
        top: .6em;
        padding: 0 .325em;
    }
}

@media (min-width: 60rem) {
    h1 {
        font-size: 2.5rem;
    }

    .home-about {
        background-image: url(img/who-we-are.jpg);
        background-repeat: no-repeat;
        padding-bottom: 10em;
    }

    .home-about-textbox {
        width: 50%;
        padding: 7em;
        outline-offset: -3.75em;
        margin-left: -2.5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgba(0, 0, 0, .3);
    }

    .home-about-textbox h1 {
        top: .75em;
        left: 6rem;
        transform: translateX(0);
    }
}

/* portfolio*/
.portfolio {
    margin: 3em 0 0;
}

.portfolio__title {
    font-family: 'Audiowide', monospace;
    font-size: 2em;
    letter-spacing: .5em;
}

.port-item {
    margin: 0;
    position: relative;
}

.port-item img {
    display: block;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 0em;
    left: 0em;
    right: 0em;
    color: white;
    background: rgba(0, 0, 0, .6);
    padding-bottom: 2em;
}

.port-desc p {
    margin: 1em;
}

@media (min-width: 37rem) {
    .port-item {
        width: 50%;
        float: left;
    }
}

@media (min-width: 60rem) {
    .port-item {
        width: 33.3333334%;
        overflow: hidden;
    }

    .port-desc {
        transform: translateY(150%);
    }

    .port-item:hover .port-desc {
        transform: translateY(0%);
    }
}

/* CTA*/
.cta {
    background-color: #ffae00;
    padding: 5em 0;
    position: relative;
}

/* Footer */
footer {
    background: #41295a;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: #fff;
    text-align: left;
    padding: 5em 0;
}
